# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
api/dist/
api/documentation/
api/node_modules/
api/uploads/
api/package-lock.json/
api/yarn.lock/


# dependencies
supplier/node_modules
supplier/.pnp
supplier/.pnp.js

# testing
supplier/coverage

# next.js
supplier/.next/
supplier/out/

# production
supplier/build

# misc
supplier/.DS_Store
supplier/*.pem

# debug
supplier/npm-debug.log*
supplier/yarn-debug.log*
supplier/yarn-error.log*

# local env files
supplier/.env*.local

# vercel
supplier/.vercel

# typescript
supplier/*.tsbuildinfo
supplier/next-env.d.ts

supplier/.vercel
