@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

:root {
    --color-bg: #fff;
    --color-border: #e5e7eb;
    --color-sidebar-item: #f3f4f6;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: "Roboto", sans-serif;
}

.layout {
    display: flex;
    height: 100vh;
    position: relative;
    gap: 2rem;

}

.sidebar__wrapper {
    position:relative;
}

.sidebar {
    width: 17rem;
    height: 100%;
    background-color: var(--color-bg);
    padding: 1rem;  
    transition: all .3s linear cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
}

.sidebar__top {
    width: max-content;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;   
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--color-border);
}

.sidebar__logo {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: contain;
    border-radius: 1rem;
}

.sidebar__logo-name {
    font-size: 1.5rem;
    font-weight: 600;
}

.sidebar__list {
    list-style: none;
}

.sidebar__link {
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
    color: #000;
    padding: 0.8rem 1rem;
    display: flex;
    background-color: var(--color-sidebar-item);
    margin-bottom: 1rem;
    border-radius: 0.8rem;
}

.sidebar__icon {
    font-size: 2rem;
    display: inline-block;
}

.sidebar__name {
    margin-left: 1.5rem;
}

[data-collapsed="true"] {
    width: 5rem;
}

[data-collapsed="true"] .sidebar__name,
[data-collapsed="true"] .sidebar__logo-name {
    display: none;
}

.btn {
    position: absolute;
    right: 0;
    top: 4.7rem;
    border: none;
    background-color: #fff;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #e5e7eb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: translateX(50%);
    font-size: 1.1rem;
}



